backports.functools-lru-cache==1.4
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
easydict==1.7
functools32==3.2.3.post2
graphviz==0.8.1
idna==2.6
matplotlib==2.1.1
msgpack-numpy==0.4.2
msgpack-python==0.4.8
mxnet-cu80==1.0.0
numpy==1.13.3
opencv-python==3.3.0.10
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
requests==2.18.4
six==1.11.0
subprocess32==3.2.7
tabulate==0.8.2
tensorpack==0.7.1
termcolor==1.1.0
tqdm==4.19.5
urllib3==1.26.5
zmq==0.0.0